.container-fluid{
    padding:0;
    margin:0;
}
header{
    background:linear-gradient(90deg, #05a 10%, #21b3b2 90%);
    height:200px;

}
footer{
    background:linear-gradient(90deg, #05a 10%, #21b3b2 90%);
    height:150px;

}



body{
    background:rgb(243, 243, 243);

}

textarea {
    resize: none;
}

.pen{
    width: 50px;
    height:40px;
}
